@import "tailwindcss";

@theme {
  --color-primary: oklch(58.5% 0.233 277.117);
  --color-background: oklch(0.98 0.0034 247.86);
}

body {
  @apply bg-[#F6F8FA];
}
.ant-breadcrumb li {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0;
}
